@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* navbar styling */
.navbar-expand-lg {
  z-index: 11;
}
.navbar {
  transition: all 0.3s;
}
.navbodyScroll{
  height: 60px;
  transition: all .3s;
}
.navbody{
  height: 70px;
}

.navbar-brand {
  color: white;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  font-size: 28px;
  margin-right: 5px;
  transition: all 0.3s;
}
.navbar-brand:hover {
  color: white;
}
.offcanvas-header {
  color: #ffffff;
}

.navlinks {
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 500;
  color: white;
  font-weight: 500;
  transition: all 0.5s;
}

.navlinks:hover {
  color: #ffffff;
  text-decoration: underline 2px;
  transform: scale(1.2);
}

.navlinksScroll{
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 500;
  color: black;
  font-weight: 500;
  transition: all 0.5s;

}
.navlinksScroll:hover{
  color: black;
  text-decoration: underline 2px;
  transform: scale(1.2);
}

.offcanvas {
  background: transparent;
}

@media (max-width: 999px) {
  .offcanvas {
    backdrop-filter: blur(10px);
  }
}
.scrollNav {
  background-color: white;
  color: black;
}
/* navbar dropdown */
.dropdown-menu {
  background: transparent;
  backdrop-filter: blur(25px);
  color: white;
}
.dropdown-item {
  color: rgb(255, 255, 255);
  background-color: transparent;
}

.dropdown-item:hover {
  background-color: white;
  color: black;
  font-weight: 500;
  font-size: 18px;
  transition: ease 0.5s;
}

.btn {
  display: flex;
  align-items: center;
  color: white;
  height: 50px;
  padding: 0;
  width: 50px;
  font-size: 25px;
  font-weight: 700;
}

/* scroll navbar css */
.navbarScroll {
  background-color: white;
}

/* .carousel css */

.carousel-item::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.5;
}

.carousel-item > img {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
}

 /* our courses scc  */
#couses-heding{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;  
  text-transform: uppercase;
  text-decoration: underline 2px solid black;
}























/* footer styling  */
footer {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.img-thumbnail {
  height: 200px;
}

.footeritem {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
  color: black;
}
